<header id="header">
  <figure id="logo">
    <img src="../assets/media/russ-logo.svg" alt="russ-logo" srcset="../assets/media/russ-logo.svg" width="50px">
    <h1>Your Site</h1>
  </figure>
  <nav id="navigation">
    <ul>
      <li><a href="/page/contact.html">Contact</a></li>
      <li><a href="/page/gallery.html">Gallery</a></li>
      <li><a href="/page/blog.html">Blog</a></li>
    </ul>
  </nav>
  <button id="click-to-action" onclick="window.open('mailto:mahrusaim@gmail.com')">
    Let's Talk
  </button>
</header>