/* CSS Reset */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
html {
  scroll-behavior: smooth;
  transition: all 0.3s;
}
body {
  overflow-x: hidden;
  font-size: 18px;
}
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

h2 {
  font-weight: bold;
  font-size: 32px;
}

#navigation {
  background-color: #1e1e1e;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  align-items: center;
  position: sticky;
  top: 0;
}

#navigation > nav > ul{
  display: flex;
}

#navigation > nav > ul > li > a {
  /* display: block; */
  padding: 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

#navigation > nav > ul > li > a:hover {
  transition: all 0.75s;
  border-radius: 5%;
}

#navigation > button {
  padding: 10px;
  background-color: #e63946;
  border-width: 0;
  border-radius: 10%;
}

#navigation > button:hover {
  transition: all 1s;
  transform: scale(110%);
  cursor: pointer;
}

#navigation > button:active {
  transition: all 0s;
  background-color: white;
}

#welcome {
  align-items: center;
  justify-content: center;
}

#welcome > figure > img {
  width: 300px;
  border-radius: 5%;
}

#contact {
  align-items: center;
  justify-content: center;
}

#contact > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#footer {
  display: flex;
  background-color: lightgrey;
  padding: 35px 0;
  justify-content: center;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.underline-animation::after {
  content: " ";
  display: block;
  margin-top: 5px;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}

.underline-animation:hover::after {
  width: 100%;
}

.animasi-timbul:hover {
  transition: 1s ease-in-out;
  transform: scale(120%);
}